<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="false">

	<appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="${catalina.home}/logs/mc/launcher.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%-5p] - %m%n" />
		</layout>
	</appender>

	<appender name="INSTANCE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%-5p] - %m%n" />
		</layout>
	</appender>

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%-5p] - [#S] %m%n" />
		</layout>
	</appender>

	<appender name="OTHER" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%-5p] - %m%n" />
		</layout>
	</appender>

	<category name="mc.instance.logger" additivity="false">
		<appender-ref ref="INSTANCE" />
		<appender-ref ref="CONSOLE" />
	</category>

	<category name="org.springframework" additivity="false">
		<appender-ref ref="OTHER" />
	</category>

	<category name="com.exadel.amc.mc.war" additivity="false">
		<appender-ref ref="FILE" />
	</category>

	<root>
		<priority value="INFO" />
	</root>

</log4j:configuration>
